if SHIELD_TANPA_RIGHT

config ZMK_KEYBOARD_NAME
    default "Tanpa_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TANPA_LEFT

config ZMK_KEYBOARD_NAME
    default "Tanpa_L"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif